/* Write your CSS code here */

.item-link {
  margin-top: 40px;
  border: 2px solid #d3d3d3;
  padding: 20px;
}
.item-container {
  display: flex;
  flex-direction: row;
}

.item-image {
  height: 200px;
  width: 320px;
  margin-right: 20px;
}

.item-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.item-topic {
  color: #8e8e8e;
  font-size: 19px;
  font-weight: 500;
}

.item-title {
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  margin-top: 0px;
}

.author-info {
  display: flex;
  flex-direction: row;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-right: 10px;
}
